<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">fusionscope</h3>
</div>

<div class="row">
  <table class="table table-striped">
    <thead><th ng-repeat="column in columns">{{column}}</th></thead>
    <tr ng-repeat="row in rows">
        <td ng-repeat="item in row track by $index">
            {{item}} <a href="#/slide/{{item}}" ng-if="$index == 0">link</a>
        </td>
    </tr>
  </table>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
